*
{
  box-sizing: border-box;
  font-family:'Montserrat', sans-serif;
}
header
{
  position: sticky;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  width: 100vw;
  height: 78px;
  justify-content: space-between;
  border-bottom: 2px solid #EFF5FB;
  padding: 0 120px;
}
.header__logo
{
  width: 51px;
  height: 36px;
}
.header__nav
{
  display: flex;
  height: 16px;
  gap: 30px;
}
main
{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 120px;
}
.main__path-to-blog
{
  font-size: 12px;
  font-weight: 400;
}
.main__page-name
{
  font-size: 48px;
  font-weight: 700;
}
.main__nav
{
  display: flex;
  justify-content: start;
  gap: 8px;
}
.main__nav--item
{
  border-radius: 24px;
  border: 1px solid #C1C5CD;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 8px;
  gap: 4px;
}
.main__content
{
  display: flex;
  flex-direction: column;
}
.main__big-cards
{
  display: flex;
  height: 500px;
  justify-content: space-between;
  gap: 24px;
}
.main__card
{
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 260px 240px;
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid black;
}
.main__card--tag
{ 
  position: absolute;
  border-radius: 24px;
  border: 1px solid #C1C5CD;
  gap: 4px;
  padding: 6px 8px;
  margin-top: 20px;
  background-color: #ffffff;
  z-index: 2;
}
.main__card_img-block
{
  position: relative;
  overflow: hidden;
}
.main__card_image
{
  display: block;
  width: calc(100% + 50px);
  margin-left: -25px;
  height: auto;
  margin-top: -120px;
}