*
{
  box-sizing: border-box;
  color: #333333;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/static/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/static/Montserrat-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/static/Montserrat-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
header
{
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 78px;
  justify-content: space-between;
  border-bottom: 2px solid #EFF5FB;
  background-color: #ffffff;
  padding: 0 120px;
  z-index: 3;
}
.header__logo
{
  width: 51px;
  height: 36px;
}
.header__nav
{
  display: flex;
  height: 16px;
  gap: 30px;
}
.header__nav--item
{
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s;
  text-decoration: none;
}
.header__nav--item:hover
{
  color: #35B3A9;
}
.header__btn
{
  width: 230px;
  height: 48px;
  background-color: #E3F5F5;
  color: #03B2A5;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Montserrat';
  border: none;
  border-radius: 4px;
  padding: 14px 20px;
  transition: 0.2s;
}
.header__toggle-menu
{
  display: none;
  border: none;
  background-color: #ffffff;
}
.header__mobile-nav-pannel
{
  position: absolute;
  right: 10px;
  top: calc(100% + 2px);
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 8px;
  padding: 12px;
  border: 1px solid #9D9D9D;
  border-radius: 8px;
  background-color: #ffffff;
  z-index: 3;
}
.header__mobile-nav-pannel a
{
  text-decoration: none;
  color: #333333;
  text-align: left;
}
.header__btn:hover
{
  background-color: #c9f1f1;
}
.header__btn:active
{
  font-size: 15px;
}
main
{
  display: flex;
  flex-direction: column;
  padding: 78px 120px 0px 120px;
}
.main__path-to-blog
{
  grid-column: 1/3;
  grid-row: 1/4;
  display: flex;
  margin-left: 6px;
  margin-top: 16px;
  font-size: 12px;
  font-weight: 200;
  gap: 8px;
}
.main__page-name
{
  margin: 30px 0;
  font-size: 48px;
  font-weight: 700;
}
.main__nav
{
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 8px;
  flex-wrap: wrap;
}
.main__nav--item
{
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 24px;
  border: 1px solid #C1C5CD;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 8px;
}
.main__nav--item:focus
{
  border: 2px solid #16C8BB;
}
.main__content
{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 24px;
  margin-top: 24px;
}
.main__card,
.main__big-card
{
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid #DEDEDE;
}
.main__card
{
  grid-column: span 2;
}
.main__big-card
{
  text-decoration: none;
  grid-column: span 3;
}
.main__tags,
.woman-card__img-block--tags
{
  position: absolute;
  display: flex;
  flex-direction: column;
}
.woman-card__img-block--tags
{
  top: -8px;
  gap: 8px;
}
.main__card--tag,
.woman-card__img-block--tag
{
  display: flex;
  align-self: flex-start;
  align-items: center;
  gap: 4px;
  padding: 6px 8px;
  background-color: #ffffff;
  z-index: 1;
}
.main__card--tag
{
  font-size: 14px;
  font-weight: 600;
  border-radius: 24px;
  margin-top: 9px;
  margin-left: 8px;
  border: 1px solid #C1C5CD;
  opacity: 80%;
}
.woman-card__img-block--tag
{
  background-color: #F3F4F8B2;
  font-size: 12px;
  font-weight: 400;
  border-radius: 6px;
  opacity: 100%;
}
.main__card--img-block
{
  overflow: hidden;
}
.main__big-card--image
{
  width: 101%;
  margin-top: -110px;
}
.main__card--image
{
  width: 100%;
  margin-top: -5px;
}
.main__card--text-block
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px;
}
.main__card--text-block-main
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}
.main__text--large
{
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.main__text--medium
{
  font-size: 14px;
  font-weight: 400;
  margin: 4px 0;
}
.main__text--small
{
  font-size: 12px;
  font-weight: 200;
}
.main__button
{
  width: 182px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  align-self: center;
  cursor: pointer;
  background-color: #35B3A9;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin: 56px;
  transition: 0.2s;
}
.main__button:hover,
.article-main__button:hover
{
  background-color: #269b91;
}
.main__button:active,
.article-main__button:active
{
  font-size: 15px;
}
.article-main
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px
}
.article-main__info-block
{
  grid-column: 1/2;
}
.article-main__cards
{
  display: flex;
  flex-direction: column;
  grid-column: 3;
  grid-row: 1/8;
  gap: 24px;
}
.article-main__sign-card,
.article-main__woman-card
{
  width: 282px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}
.article-main__sign-card
{
  padding: 24px;
  gap: 24px;
  background-color: #E6F0FD;
}
.article-main__woman-card
{
  padding: 0 16px;
  gap: 16px;
  border: 1px solid #DEDEDE;
  background-color: #ffffff;
}
.article-main__sign-card--text-block
{
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
.article-main__card--text-large
{
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  line-height: 24px;
}
.article-main__card--text-small
{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 10px;
}
.article-main__button
{
  width: 100%;
  height: 48px;
  background-color: #35B3A9;
  border: none;
  color: #ffffff;
  padding: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  transition: 0.2s;
}
.article-main__woman-card--img-block
{
  position: relative;
  border-bottom: 1px solid #DEDEDE;
  text-align: center;
  margin-top: 24px;
}
.woman-card__img-block--text-block
{
  margin: 16px;
}
.woman-card__img-block--text-large
{
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.woman-card__img-block--text-medium
{
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.woman-card__img-block--text-small,
.woman-card__text-block--list-item
{
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.woman-card__img-block--text-small
{
  color: #A2A7B1;
}
.article-main__list--item,
.article-main__card-list--item
{
  position: relative;
  padding-left: 16px;
}
.article-main__card-list--item
{
  font-size: 14px;
}
.article-main__list--item::before,
.article-main__card-list--item::before
{
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 8px;
  height: 8px;
  background-color: #03B2A5;
  border-radius: 50%;
}
.article-main__woman-card--text-block
{
  margin-bottom: 36px;
}
.woman-card__text-block--text-large
{
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.article-main__list,
.article-main__card-list
{
  list-style: none;
  padding-left: 0px;
}
.article-main__list
{
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.article-main__card-list
{
  display: flex;
  flex-direction: column;
  margin: 8px 0px 16px 0px;
  gap: 8px;
}
.article-main__info-block--data
{
  display: flex;
  gap: 20px;
}
.article-main__image
{
  grid-column: 1/2;
  grid-row: 5;
}
.article-main__dialog-block,
.article-main__text-block,
.article-main__quote-card
{
  grid-column: 1/2;
}
.article-main__text--small
{
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0px 0px 16px 0px;
}
footer
{
  background-color: #2963A3;
  padding: 40px 120px;
}
.footer__top
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 24px;
}
.footer__links-block
{
  display: flex;
  gap: 30px;
}
.footer__links
{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 16px;
}
.footer__link
{
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.footer__feedback
{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__feedback--large-text
{
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}
.footer__input-block
{
  display: flex;
}
.footer__input--email
{
  width: 320px;
  height: 48px;
  padding: 14px 16px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  border: 1px solid #9D9D9D33;
  border-radius: 4px;
}
.footer__input--email:focus-visible
{
  outline: none;
}
.footer__input--btn
{
  width: 64px;
  height: 48px;
  background-color: #16C8BB;
  border: none;
  border-radius: 4px;
  margin-left: -5px;
}
.footer__input--btn:hover
{
  background-color: #12b1a6;
}
.footer__feedback--small-text
{
  width: 486px;
  font-size: 12px;
  font-weight: 200;
  color: #ffffff;
}
.footer__icons
{
  height: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.footer__icon,
.footer__icon-logo
{
  cursor: pointer;
}
.footer__icon-logo
{
  margin-bottom: 40px;
  grid-column: 1/5;
}
.footer__bottom
{
  display: flex;
  padding-top: 16px;
  gap: 48px;
  border-top: 1px solid #9D9D9D;
}
.footer__bottom--text
{
  font-size: 14px;
  font-weight: 200;
  color: #ffffff;
}
@media (min-width: 1600px)
{
  header
  {
    padding: 0 250px;
  }
  main
  {
    padding: 78px 250px 0px 250px;
  }
  footer
  {
    padding: 40px 250px;
  }
}
@media (max-width: 1024px)
{
  header
  {
    padding: 0 32px;
  }
  .header__nav
  {
    gap: 16px;
  }
  main
  {
    padding: 78px 32px 0px 32px;
  }
  footer
  {
    padding: 40px 32px;
  }
}
@media (max-width: 768px)
{
  header
  {
    padding: 0 20px;
  }
  .header__nav
  {
    display: none;
  }
  .header__btn
  {
    display: none;
  }
  .header__toggle-menu
  {
    display: block;
  }
  main
  {
    padding: 78px 20px 0px 20px;
  }
  .main__big-card
  {
    grid-column: span 6;
  }
  .main__card
  {
    grid-column: span 3;
  }
  footer
  {
    padding: 40px 20px;
  }
  .footer__top
  {
    margin-bottom: 0;
  }
  .footer__feedback
  {
    width: 400px;
  }
  .footer__feedback--small-text
  {
    width: 100%;
  }
  .footer__icons
  {
    margin-top: 26px;
  }
}
@media (max-width: 414px) 
{
  header
  {
    height: 74px;
    padding: 0 24px;
  }
  main
  {
    padding: 78px 20px 0px 20px;
  }
  .main__content
  {
    gap: 16px;
  }
  .main__page-name
  {
    margin: 32px 0 24px 0;
  }
  .main__nav
  {
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: thin;
  }
  .main__nav--item
  {
    white-space: nowrap;
  }
  .main__card
  {
    grid-column: span 6;
  }
  
  .main__card--img-block
  {
    overflow: hidden;
  }
  .main__big-card--image
  {
    width: 100%;
    margin-top: -5px;
  }
  .main__card--text-block
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px;
  }
  .main__card--text-block-main
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
  }
  .footer
  {
    padding: 40px 19px;
  }
  .footer__top
  {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 23px;
  }
  .footer__links-block
  {
    width: 100%;
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
  }
  .footer__feedback
  {
    width: 100%;
    grid-column: 1/4;
  }
  .footer__icons
  {
    width: 100%;
    grid-column: 1/3;
    margin-top: 0;
  }
  .footer__bottom
  {
    flex-direction: column;
    gap: 20px;
  }
  @media (max-width: 320px) 
  {
    header
    {
      height: 58px;
      padding: 0 12px;
    }
    main
    {
      padding-top: 58px;
    }
    .main__content
    {
      gap: 16px;
    }
    .main__page-name
    {
      margin: 24px 0 24px 0;
    }
    .footer__input--btn
    {
      display: none;
    }
    .footer__bottom
    {
      margin-top: -40px;
    }
  }
}